<footer>
  <div class="container footer-container">
    <div class="footer-logo-wrapper">
      <a
        class="footer-logo"
        href="./index.html"
        aria-label="logo, link to home page"
      >
        <div class="logo-svg-container">
          <svg class="logo-svg">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
          <svg class="logo-name">
            <use href="./img/icons.svg#icon-name"></use>
          </svg>
        </div>
      </a>
      <p class="footer-desc">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
    </div>
    <div class="footer-menu-wrapper">
      <nav class="footer-menu">
        <ul>
          <li><a class="footer-menu-link" href="#hero">How It Works</a></li>
          <li><a class="footer-menu-link" href="#vegetables">Vegetables</a></li>
          <li><a class="footer-menu-link" href="#rewiews">Reviews</a></li>
        </ul>
      </nav>
      <adress>
        <ul class="footer-address-list">
          <li><a href="tel:+380684439426">+380 (68) 443-94-26</a></li>
          <li>1678 S. Pioneer Road Salt Lake City UT 84104</li>
        </ul>
      </adress>
    </div>
    <div class="footer-social-wrapper">
      <div class="footer-policy-wrapper">
        <a href="/">Privacy Policy</a>
        <span>/</span>
        <a href="">Cookie settings</a>
      </div>
      <p class="footer-copyright">©Green Harvest 2023</p>
    </div>
  </div>
</footer>
