<section class="section reviews" id="reviews">
        <div class="container reviews-wrapper">
          <h2 class="reviews-title">
            reviews from our <span class="reviews-h2-span">customers</span>
          </h2>
          <p class="reviews-desc">
            Words of our customers: impressions and opinions about the quality
            of our services and the freshness of our products.
          </p>
          <input name="slider" id="slide1" type="radio" checked />
          <input name="slider" id="slide2" type="radio" />
          <input name="slider" id="slide3" type="radio" />
          <ul class="reviews-list">
            <li class="reviews-list-item">
              <img
                width="56"
                height="56"
                loading="lazy"
                src="./img/reviews-image1.webp"
                alt="photo John Wax"
                srcset="
                  ./img/reviews-image1.webp,
                  ./img/reviews-image1@2x.webp 2x
                "
              />
              <h3 class="user-name">John Wax</h3>
              <p class="user-rewiew">
                These vegetables are my secret to delicious and healthy meals.
                The quality is always at the highest level, the aroma and taste
                are enchanting. I advise every fan of real products!
              </p>
            </li>
            <li class="reviews-list-item">
              <img
                width="56"
                height="56"
                loading="lazy"
                src="./img/reviews-image2.webp"
                alt="photo Victoria Romashenko"
                srcset="
                  ./img/reviews-image2.webp,
                  ./img/reviews-image2@2x.webp 2x
                "
              />
              <h3 class="user-name">Victoria Romashenko</h3>
              <p class="user-rewiew">
                I love how fast and fresh the vegetables are delivered. Salads
                always turn out so appetizing, and soups are real masterpieces.
                The quality is impeccable!
              </p>
            </li>
            <li class="reviews-list-item">
              <img
                width="56"
                height="56"
                loading="lazy"
                src="./img/reviews-image3.webp"
                alt="photo Ihor Trachuk"
                srcset="
                  ./img/reviews-image3.webp,
                  ./img/reviews-image3@2x.webp 2x
                "
              />
              <h3 class="user-name">Ihor Trachuk</h3>
              <p class="user-rewiew">
                Recently tried my fresh tomatoes and peppers - amazing! The
                authenticity of the taste, as if from the garden directly to my
                table. It is now my main vegetable supplier.
              </p>
            </li>
          </ul>
          <div class="slider-bar">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
          </div>
        </div>
      </section>