<section class="section vegetable" id="vegetables">
        <div class="container">
          <h2 class="vegetable-title">
            organic <span class="how-it-highlighted">vegetables</span>
          </h2>
          <p class="vegetable-desc">
            Our organic vegetables are hand-picked from local farms and
            delivered straight to your doorstep, ensuring that you get the
            freshest and most nutritious produce possible.
          </p>
          <ul class="vegetable-list">
            <li class="vegetable-list-item">
              <h3 class="product-title">eggplant</h3>
              <p class="price">60 USD / kg</p>
              <picture loading="lazy">
                <source
                  srcset="
                    ./img/vegetables-eggplant-pc.webp,
                    ./img/vegetables-eggplant-pc@2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/vegetables-eggplant-tab.webp,
                    ./img/vegetables-eggplant-tab@2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/vegetables-eggplant-mob.webp,
                    ./img/vegetables-eggplant-mob@2x.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 767px)"
                />
                <img width="287" height="240"
                  loading="lazy"
                  src="/img/vegetables-eggplant-mob.webp"
                  alt="fresh eggplant"
                />
              </picture>
            </li>
            <li class="vegetable-list-item">
              <h3 class="product-title">leek</h3>
              <p class="price">50 USD / kg</p>
              <picture loading="lazy">
                <source
                  srcset="
                    ./img/vegetables-leek-pc.webp,
                    ./img/vegetables-leek-pc@2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/vegetables-leek-tab.webp,
                    ./img/vegetables-leek-tab@2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/vegetables-leek-mob.webp,
                    ./img/vegetables-leek-mob@2x.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 767px)"
                />
                <img width="287" height="240"
                  loading="lazy"
                  src="./img/vegetables-leek-mob.webp"
                  alt="fresh leek"
                />
              </picture>
            </li>
            <li class="vegetable-list-item">
              <h3 class="product-title">mushrooms</h3>
              <p class="price">40 USD / kg</p>
              <picture loading="lazy">
                <source
                  srcset="
                    ./img/vegetables-mushrooms-pc.webp,
                    ./img/vegetables-mushrooms-pc@2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/vegetables-mushrooms-pc.webp,
                    ./img/vegetables-mushrooms-pc@2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/vegetables-mushrooms-tab.webp,
                    ./img/vegetables-mushrooms-tab@2x.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 767px)"
                />
                <img width="287" height="240"
                  loading="lazy"
                  src="./img/vegetables-mushrooms-mob.webp"
                  alt="fresh mushrooms"
                />
              </picture>
            </li>
            <li class="vegetable-list-item">
              <h3 class="product-title">corn</h3>
              <p class="price">60 USD / kg</p>
              <picture loading="lazy">
                <source
                  srcset="
                    ./img/vegetables-corn-pc.webp,
                    ./img/vegetables-corn-pc@2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/vegetables-corn-tab.webp,
                    ./img/vegetables-corn-tab@2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/vegetables-corn-mob.webp,
                    ./img/vegetables-corn-mob@2x.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 767px)"
                />
                <img width="287" height="240"
                  loading="lazy"
                  src="./img/vegetables-corn-mob.webp"
                  alt="fresh corn"
                />
              </picture>
            </li>
            <li class="vegetable-list-item">
              <h3 class="product-title">sweet potatoes</h3>
              <p class="price">50 USD / kg</p>
              <picture loading="lazy">
                <source
                  srcset="
                    ./img/vegetables-sweet-potatoes-pc.webp,
                    ./img/vegetables-sweet-potatoes-pc@2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/vegetables-sweet-potatoes-tab.webp,
                    ./img/vegetables-sweet-potatoes-tab@2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/vegetables-sweet-potatoes-mob.webp,
                    ./img/vegetables-sweet-potatoes-mob@2x.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 767px)"
                />
                <img width="287" height="240"
                  loading="lazy"
                  src="./img/vegetables-sweet-potatoes-mob.webp"
                  alt="fresh sweet potatoes"
                />
              </picture>
            </li>
            <li class="vegetable-list-item">
              <h3 class="product-title">carrot</h3>
              <p class="price">40 USD / kg</p>
              <picture loading="lazy">
                <source
                  srcset="
                    ./img/vegetables-carrot-pc.webp,
                    ./img/vegetables-carrot-pc@2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/vegetables-carrot-tab.webp,
                    ./img/vegetables-carrot-tab@2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/vegetables-carrot-mob.webp,
                    ./img/vegetables-carrot-mob@2x.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 767px)"
                />
                <img width="287" height="240"
                  loading="lazy"
                  src="./img/vegetables-carrot-mob.webp"
                  alt="fresh carrot"
                />
              </picture>
            </li>
          </ul>
        </div>
      </section>