#box {
  background-color: #576f35;
}
.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-title {
  color: #fbfbfb;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 1.08;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.box-highlighted {
  color: #d4bfc4;
}
.box-desc {
  color: #fbfbfb;
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 40px;
}
.box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.form-wrapper {
  background-color: #fbfbfb;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}
.form-title {
  font-size: 27px;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 1;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.form-highlighted1 {
  color: #7a3145;
}
.form-highlighted2 {
  color: #576f35;
}
.form-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.input-wrapper input {
  border: 1px solid #858585;
  border-radius: 30px;
  padding: 14px 16px;
}
.input-wrapper textarea {
  border: 1px solid #858585;
  border-radius: 15px;
  padding: 15px 16px;
  font-size: 14px;
  line-height: 1.43;
  resize: none;
}
.input-wrapper input::placeholder,
.input-wrapper textarea::placeholder {
  color: inherit;
  font-size: 14px;
  line-height: 1.43;
}
.order-btn {
  background-color: #7a3145;
  border-radius: 30px;
  color: #fbfbfb;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.01em;
  line-height: 1.11;
  min-height: 52px;
  text-transform: uppercase;
}
.order-btn:hover,
.order-btn:focus {
  background-color: #fbfbfb;
  color: #7a3145;
  border: #7a3145 solid 1px;
}
.box-img-wrapper {
  padding: 40px 20px;
  background-color: #7a3145;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.box-img {
  border-radius: 30px;
  overflow: hidden;
}
.socials-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.social-desc {
  font-weight: 700;
  color: #d4bfc4;
  font-size: 14px;
  line-height: 1.43;
}
.socials {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.socials a:hover,
.socials a:focus {
  text-decoration: underline;
  transform: scale(1.06);
}
@media screen and (min-width: 768px) {
  .box-container {
    padding: 0 64px;
  }
  .box-title {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 24px;
  }
  .box-desc {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 52px;
  }
  .box-wrapper {
    gap: 32px;
  }
  .form-wrapper {
    padding: 72px 100px;
  }
  .form-title {
    font-size: 32px;
    line-height: 1;
    margin-bottom: 52px;
  }
  .form-box {
    gap: 24px;
  }
  .input-wrapper input::placeholder,
  .input-wrapper textarea::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }
  .input-wrapper input {
    padding: 16px 15px;
  }
  .input-wrapper textarea {
    padding: 16px 15px;
    font-size: 16px;
    line-height: 1.25;
  }
  .order-btn {
    min-height: 52px;
    font-size: 20px;
    line-height: 1.2;
    padding: 0 32px;
  }
  .box-img-wrapper {
    padding: 72px 100px;
    gap: 32px;
  }

  .box-img-wrapper {
    padding: 52px;
    gap: 52px;
  }
  .socials-wrapper {
    gap: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .box-container {
    align-items: start;
    padding: 0 100px;
  }
  .box-title {
    max-width: 751px;
  }
  .box-desc {
    max-width: 742px;
  }
  .box-wrapper {
    flex-direction: row;
    gap: 32px;
  }
  .form-wrapper {
    flex-basis: calc(50% - 16px);
    padding: 52px 48px;
  }
  .box-img-wrapper {
    flex-basis: calc(50% - 16px);
    padding: 52px 48px;
    gap: 80px;
  }
}
