.container {
  margin: 0 auto;
  max-width: 375px;
  min-width: 320px;
  padding: 0 20px;
}
.section {
  padding: 80px 0;
}
@media only screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}
