footer {
  background-color: #7a3145;
  padding: 40px 0;
}
.footer-logo-wrapper {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 14px;
}
.footer-logo {
  display: inline-block;
}
.footer-desc {
  color: #fbfbfb;
  font-size: 14px;
  line-height: 1.43;
}
.footer-menu-wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 80px;
}
.footer-menu ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer-menu-link {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}
.footer-menu-link:hover,
.footer-menu-link:focus {
  text-decoration: underline;
}
.footer-address-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer-address-list li:last-child {
  max-width: 179px;
}
.footer-social-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-policy-wrapper {
  display: flex;
  gap: 8px;
}
.footer-policy-wrapper a,
.footer-policy-wrapper span,
.footer-copyright {
  color: #d4bfc4;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .footer-logo-wrapper {
    max-width: 259px;
    margin: 0 212px 0 0;
  }
  .footer-menu-wrapper {
    margin-bottom: 100px;
  }
  .footer-social-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .footer-logo-wrapper {
    margin-right: 250px;
  }
  .footer-menu-wrapper {
    flex-direction: row;
    gap: 160px;
  }
}
