input[type='radio'] {
  display: none;
}
.reviews-title {
  color: #141414;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 1.08;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.reviews-h2-span {
  color: #576f35;
}
.reviews-desc {
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 40px;
}
.reviews-list {
  display: flex;
  margin-bottom: 40px;
}
.reviews-list-item {
  align-items: center;
  background-color: #fbfbfb;
  border: 1px solid #d4bfc4;
  border-radius: 24px;
  display: none;
  flex-basis: 100%;
  flex-direction: column;
  padding: 20px 16px;
  min-height: 228px;
}
.reviews-list-item img {
  margin-bottom: 24px;
}
.user-name {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 1.11;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.user-rewiew {
  color: #858585;
  font-size: 14px;
  line-height: 1.43;
  max-width: 287px;
  text-align: center;
}
#slide1:checked ~ .reviews-list li:nth-child(1) {
  display: flex;
}
#slide2:checked ~ .reviews-list li:nth-child(2) {
  display: flex;
}
#slide3:checked ~ .reviews-list li:nth-child(3) {
  display: flex;
}
.slider-bar {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.slider-bar label {
  background: #576f35;
  border-radius: 50%;
  cursor: pointer;
  height: 12px;
  transition: background-color 0.3s, width 0.3s, border-radius 0.3s;
  width: 12px;
}
#slide1:checked ~ .slider-bar label[for='slide1'],
#slide2:checked ~ .slider-bar label[for='slide2'],
#slide3:checked ~ .slider-bar label[for='slide3'] {
  border-radius: 12px;
  width: 32px;
}
@media screen and (min-width: 768px) {
  .reviews-title {
    font-size: 64px;
    line-height: 1;
    max-width: 553px;
    margin-bottom: 24px;
  }
  .reviews-desc {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 52px;
    max-width: 553px;
  }
  .reviews-list {
    align-items: center;
    gap: 28px;
  }
  .user-rewiew {
    font-size: 16px;
    line-height: 1.25;
    max-width: 287px;
  }
  .reviews-list-item {
    flex-basis: calc(50% - 14px);
    padding: 20px;
    min-height: 248px;
  }
  #slide1:checked ~ .reviews-list li:nth-child(1),
  #slide1:checked ~ .reviews-list li:nth-child(2) {
    display: flex;
  }
  #slide2:checked ~ .reviews-list li:nth-child(2),
  #slide2:checked ~ .reviews-list li:nth-child(3) {
    display: flex;
  }
  #slide3:checked ~ .reviews-list li:nth-child(3),
  #slide3:checked ~ .reviews-list li:nth-child(1) {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .reviews-list{
    gap: 24px;
    margin-bottom: 0;
  }
  .reviews-list-item {
    display: flex;
    flex-basis: calc((100% - 48px) / 3);
  }
  .slider-bar{
    display: none;
  }
}
