.vegetable {
  background-color: #7a3145;
}
.vegetable-title {
  color: #fbfbfb;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 1.08;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.vegetable-desc {
  color: #fbfbfb;
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 40px;
}
.vegetable-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.vegetable-list-item {
  background-color: #fbfbfb;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 32px 24px;
}
.product-title {
  color: #7a3145;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 1;
  text-transform: uppercase;
}
.price {
  font-size: 14px;
  line-height: 1.43;
}
@media screen and (min-width: 768px) {
  .vegetable-title {
    font-size: 64px;
    line-height: 1;
    max-width: 508px;
  }
  .vegetable-desc {
    font-size: 16px;
    line-height: 1.25;
    max-width: 626px;
  }
  .vegetable-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    row-gap: 28px;
  }
  .product-title {
    font-size: 32px;
  }
  .price {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1280px) {
  .vegetable-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
 
}
